// Fonts
$font-header: "Oswald", "Arial", sans-serif;
$font-primary: "Lato", "Arial", sans-serif;

// Colors
//Background colors
$background-color-primary: #ffffff;
$background-color-accent: #68b738;
$background-color-alternate: #f2f2f2;
$background-color-alternate-accent: #eaeaea;
$background-color-transparent: rgba(#ffffff, 0);

//Border Colors
$border-color-primary: #ebebeb;
$border-color-secondary: #d9d9d9;
$border-color-alternate: #e6e6e6;

//Font colors
$font-color-primary: #000000;
$font-color-primary-alternate: #111111;
$font-color-primary-alternate-accent: #222222;
$font-color-alternate: #ffffff;
$font-color-accent: #444444;

//Button colors
$button-color-primary: #68b738;
$button-color-primary-hover: #5eaa2f;
$button-color-alternate: #f2f2f2;
$button-color-alternate-hover: #ebebeb;

//Icons Color
$icons-color-primary: #666666;
$icons-color-secondary: #d3d3d3;

//Input colors
$input-color-border: #cdcdcd;
$input-color-border-alternate: #e7e7e7;
$input-color-invalid: #ff8282;

// View Port Size
$view-port-desktop: 1440px;
$view-port-tablet: 768px;
