@use "../global/variables.scss";
@use "../global/mixins.scss";

.advantages__list {
  @include list-base;
  display: grid;
  gap: 20px;

  @include tablet {
    gap: 30px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.advantages__item {
  background-color: $background-color-alternate;

  @include mobile {
    display: grid;
    grid-template-columns: 50px auto;
    padding: 23px 20px 22px;
    gap: 19px;
  }

  @include tablet {
    padding: 77px 63px 57px 52px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 372px;
  }

  @include desktop {
    padding: 47px 61px 59px 52px;
    display: grid;
    grid-template-columns: 100px auto;
    column-gap: 62px;
  }
}

.advantages__item-image {
  background-color: $background-color-accent;
  border-radius: 50%;
  aspect-ratio: 1;
  position: relative;

  @include mobile {
    width: 50px;
  }

  @include tablet {
    width: 200px;
    position: absolute;
    top: 92px;
    right: 63px;
  }

  @include desktop {
    position: relative;
    width: 100px;
    right: auto;
    top: auto;
  }
}

.advantages__item-image--fit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -56%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../../images/icons/stack.svg#lean-cat-icon");

  @include tablet {
    width: 140px;
  }
}

.advantages__item-image--fat::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 134%;
  transform: translate(-49%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../../images/icons/stack.svg#strong-cat-icon");

  @include tablet {
    transform: translate(-50%, -50%);
    width: 269px;
  }

  @include desktop {
    transform: translate(-51%,-52%);
    width: 134%;
  }
}

.advantages__item-title {
  @include font-info($font-header, 24px, 37px);
  text-transform: uppercase;
  margin: 0;

  @include mobile {
    align-self: center;
  }

  @include tablet {
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop {
    align-self: center;
  }
}

.advantages__item-description {
  @include text-description;

  position: relative;
  grid-column: 1/-1;
  margin: 0;

  @include mobile {
    margin-top: 4px;
    margin-bottom: 23px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      bottom: -23px;
      background-color: $border-color-secondary;
    }
  }

  @include tablet {
    margin-top: 24px;
    margin-bottom: 52px;
    margin-right: 250px;
  }

  @include desktop {
    margin-top: 39px;
    margin-bottom: 27px;
    margin-right: 0;
    grid-column: 1/-1;
  }
}

.advantages__item-button {
  position: relative;
  grid-column: 1/-1;
}

.advantages__item-button::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 32px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  mask-image: url("../../images/icons/stack.svg#arrow-icon");
  mask-size: contain;
  mask-position: -8px;
  mask-repeat: no-repeat;
  background-color: $font-color-primary;
  transition: 0.2s ease-in-out;

  @include mobile {
    margin-left: 15px;
  }

  @include tablet {
    margin-left: 25px;
  }
}

.advantages__item-button:hover::after {
  mask-position: 0;
}

.advantages__item-button:active::after {
  background-color: rgba($font-color-primary, 0.3);
  transition: 0s;
}
