@use "../global/variables.scss";
@use "../global/mixins.scss";

.advantages__list {
  @include list-base;
}

.advantages__item {
  background-color: $background-color-alternate;
}

.advantages__item-title {
  @include font-info($font-header, 36px, 36px);
  text-transform: uppercase;

  @include mobile {
    font-size: 24px;
    line-height: 37px;
  }
}

.advantages__item-description {
  @include text-description;
}
