@use "../global/variables.scss";
@use "../global/mixins.scss";

.button {
  @include mixins.button-base;
  border: none;

  &:disabled {
    opacity: 30%;
  }
}

.button--primary {
  @include mixins.font-info(variables.$font-header, 16px, 20px);
  padding: 10px;
  display: block;
  text-align: center;
  background: variables.$button-color-primary;
  color: variables.$font-color-alternate;

  @include mixins.tablet {
    font-size: 20px;
    line-height: 26px;
    padding: 14px;
  }

  &:hover {
    background: variables.$button-color-primary-hover;
  }

  &:active {
    color: rgba(variables.$font-color-alternate, 0.3);
  }
}

.button--secondary {
  @include mixins.button-small;
  display: block;
  text-align: center;
  background: variables.$button-color-primary;
  color: variables.$font-color-alternate;

  &:hover {
    background: variables.$button-color-primary-hover;
  }

  &:active {
    color: rgba(variables.$font-color-alternate, 0.3);
  }
}

.button--accent {
  @include mixins.button-small;
  display: block;
  text-align: center;
  background-color: variables.$button-color-alternate;
  color: variables.$font-color-accent;

  &:hover {
    background-color: variables.$button-color-alternate-hover;
  }

  &:active {
    background-color: variables.$button-color-alternate-hover;
  }
}

.button--link {
  @include mixins.button-base;
  @include mixins.font-info(variables.$font-header, 16px, 16px);
  display: inline-block;
  color: variables.$font-color-primary;

  &:active {
    color: rgba(variables.$font-color-primary, 0.3);
  }

  @include mixins.tablet {
    font-size: 20px;
    line-height: normal;
  }
}
