@use "../global/variables.scss";
@use "../global/mixins.scss";

.catalog__container {
  @include mixins.mobile {
    padding-top: 28px;
  }

  @include mixins.tablet {
    padding-top: 65px;
  }

  @include mixins.desktop {
    padding-top: 73px;
  }
}

.catalog__title {
  @include mixins.font-info(variables.$font-header, 36px, 36px);
  margin: 0;

  @include mixins.mobile {
    margin-bottom: 41px;
  }

  @include mixins.tablet {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
  }
}

.catalog__list {
  @include mixins.list-base;

  @include mixins.tablet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 60px;
  }

  @include mixins.desktop {
    column-gap: 80px;
    row-gap: 62px;
  }
}
