@use "../global/variables.scss";
@use "../global/mixins.scss";

.catalog__container {

  @include mobile {
    padding-top: 27px;
  }
}

.catalog__title {
  @include font-info($font-header, 36px, 36px);
  margin: 0;

  @include mobile {
    margin-bottom: 41px;
  }

  @include tablet {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  @include list-base;
}

.catalog__item::before {

  @include mobile {
    content: "";
    position: absolute;
    height: 1px;
    top: 0;
    left: -20px;
    right: -20px;
    background-color: $border-color-primary;
  }

}
