@use "../global/variables.scss";
@use "../global/mixins.scss";

.catalog-card {
  position: relative;

  @include mixins.mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 40px;
    row-gap: 12px;
    padding-top: 21px;
    padding-bottom: 25px;
  }

  @include mixins.tablet {
    display: flex;
    flex-direction: column;
    min-height: 430px;
    padding: 37px 37px 40px;
    background-color: variables.$background-color-alternate;
    margin-top: 81px;
  }

  @include mixins.desktop {
    padding-bottom: 43px;
  }
}

.catalog-card::before {
  @include mixins.mobile {
    content: "";
    position: absolute;
    height: 1px;
    top: 0;
    left: -20px;
    right: -20px;
    background-color: variables.$border-color-primary;
  }
}

.catalog-card__image-wrapper {
  display: flex;

  @include mixins.mobile {
    grid-row: span 2;
  }

  @include mixins.tablet {
    height: 210px;
    margin-bottom: 9px;
    margin-top: -95px;
  }

  @include mixins.desktop {
    margin-bottom: 0;
  }
}

.catalog-card__image {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;

  @include mixins.mobile {
    align-self: center;
  }
}

.catalog-card__image-small {
  @include mixins.mobile {
    margin-bottom: 8px;
    align-self: center;
    max-height: 100%;
  }

  @include mixins.tablet {
    margin-top: 6px;
    height: 172px;
  }
}

.catalog-card__image-large {
  @include mixins.mobile {
    align-self: flex-end;
    height: 100px;
    margin-bottom: 10px;
  }

  @include mixins.tablet {
    margin-top: -12px;
    height: 206px;
  }

  @include mixins.desktop {
    margin-top: -6px;
    height: 197px;
  }
}

.catalog-card__title {
  @include mixins.font-info(variables.$font-header, 16px, 20px);
  text-transform: uppercase;
  color: variables.$font-color-primary-alternate-accent;
  margin: 0;

  @include mixins.mobile {
    max-width: 60%;
  }

  @include mixins.tablet {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 14px;
  }
}

.catalog-card__title-size {
  @include mixins.tablet {
    display: block;
  }
}

.catalog-card__button {
  @include mixins.mobile {
    grid-column: 1 / -1;
  }

  @include mixins.tablet {
    margin-top: auto;
  }
}

.catalog-card__button--more {
  @include mixins.tablet {
    margin-top: auto;
  }
}

.catalog-card__info {
  @include mixins.font-info(variables.$font-primary, 12px, 16px);
  color: variables.$font-color-accent;
  display: flex;
  flex-direction: column;
  margin: 0;

  @include mixins.mobile {
    margin-top: 3px;
    margin-bottom: 8px;
  }

  @include mixins.tablet {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 33px;
  }
}

.catalog-card__description {
  @include mixins.font-info(variables.$font-primary, 12px, 16px);
  margin: 0 auto;
  text-align: center;

  @include mixins.mobile {
    margin-bottom: 21px;
  }

  @include mixins.tablet {
    font-size: 16px;
    line-height: 18px;
    max-width: 170px;
  }
}

.catalog-card__info-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @include mixins.tablet {
    padding: 7px 0 3px;
    border-bottom: 1px solid variables.$input-color-border;
  }

  @include mixins.desktop {
    padding: 8px 0 5px;

    &:last-child {
      padding-top: 4px;
      padding-bottom: 9px;
    }
  }
}

.catalog-card--show-more {
  display: flex;
  flex-direction: column;
  gap: 0;

  @include mixins.tablet {
    border: 2px solid variables.$background-color-alternate;
    background-color: variables.$background-color-primary;
    padding: 37px 37px 40px;
    padding-top: 50px;
  }
}

.catalog-card__title--show-more {
  color: variables.$font-color-primary-alternate;
  max-width: 100%;
  margin: 0 auto;

  @include mixins.mobile {
    margin-bottom: 8px;
  }

  @include mixins.tablet {
    margin-bottom: 9px;
  }

  @include mixins.desktop {
    margin-bottom: 11px;
  }
}

.catalog-card__title--additional {
  @include mixins.tablet {
    display: block;
    margin-left: 4px;
  }
}

.catalog-card__plus {
  aspect-ratio: 1 / 1;
  position: relative;
  margin: 0 auto;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: variables.$icons-color-secondary;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    transform: translateY(-50%) rotate(90deg);
  }

  @include mixins.mobile {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 23px;
  }

  @include mixins.tablet {
    width: 60px;
    height: 60px;
    background-size: 60px;
    margin-bottom: 48px;
  }

  @include mixins.desktop {
    margin-bottom: 37px;
  }
}
