.catalog-card__title {
  @include font-info($font-header, 16px, 20px);
  text-transform: uppercase;
  color: $font-color-primary-alternate-accent;

  @include tablet {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-card__info {
  @include font-info($font-primary, 12px, 16px);
  text-transform: uppercase;
  color: $font-color-accent;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-card__description {
  @include font-info($font-primary, 12px, 16px);

  @include tablet {
    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-card__title--show-more {
  color: $font-color-primary-alternate;
}

.catalog-card__plus {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/icons/stack.svg#plus-icon");
  background-size: 30px;
}
