@use "../global/variables.scss";
@use "../global/mixins.scss";

.contacts {
  position: relative;
}

.contacts--alternate {
  background-color: $background-color-alternate;
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    padding-top: 26px;
    padding-bottom: 26px;
    margin: 0 auto;
  }

  @include tablet {
    padding: 60px 40px 62px;
  }

  @include desktop {
    position: absolute;
    z-index: 4;
    top: 95px;
    left: 110px;
    padding: 59px 80px;
    max-width: 565px;
    min-width: 565px;
    background-color: $background-color-primary;
    column-gap: 92px;
  }
}

.contacts__title {
  @include font-info($font-header, 16px, 20px);
  text-transform: uppercase;
  margin: 0;
  color: $font-color-primary-alternate;

  @include tablet {
    font-size: 20px;
    line-height: 26px;
    max-width: 165px;
  }
}

.contacts__address-description {
  margin: 0;

  @include tablet {
    text-align: right;
  }

  @include desktop {
    text-align: left;
  }
}

.contacts__address-description--city {
  @include tablet {
    margin-top: 20px;
  }
}

.contacts__map {
  position: relative;
}

.contacts__address {
  @include font-info($font-primary, 14px, 20px);
  color: $font-color-accent;

  @include tablet {
    font-size: 16px;
  }
}

.contacts__address-map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.contacts__interactive-map {
  position: relative;
  width: 100%;
  border: 0;
  z-index: 2;

  @include mobile {
    height: 362px;
  }

  @include tablet {
    height: 400px;
  }
}

.contacts__interactive-map--no-js {
  visibility: hidden;
}
