@use "../global/variables.scss";
@use "../global/mixins.scss";

.footer {
  background-color: $background-color-alternate;
}

.footer__container {
  @include mobile {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column;
  }

  @include tablet {
    padding-top: 57px;
    padding-bottom: 57px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.footer__logo {
  @include mobile {
    align-self: center;
    padding-bottom: 17px;
  }
}

.footer__logo-title {
  color: $font-color-primary-alternate;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  @include mobile {
    padding-top: 20px;
    padding-bottom: 17px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.footer__developer {
  position: relative;

  @include mobile {
    margin-top: 20px;
  }

  @include tablet {
    justify-self: end;
  }
}

.footer__developer-link {
  @include font-info($font-primary, 16px, 18px);
  display: flex;
  align-items: center;
  color: $font-color-accent;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &:hover::after,
  &:active::after {
    background-color: $button-color-primary;
  }

  @include mobile {
    justify-content: space-between;
  }

  @include tablet {
    gap: 50px;
  }
}

.footer__developer-link::after {
  content: "";
  display: inline-block;
  width: 27px;
  height: 34px;
  color: $font-color-accent;
  mask-image: url("../../images/icons/stack.svg#developer-icon");
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $font-color-accent;
}
