@use "../global/variables.scss";
@use "../global/mixins.scss";

.form {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 65px;
    align-items: start;
  }
}

.form__group {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;

  @include tablet {
    padding: 0 40px;
  }
}

.form__group--base-info {
  display: grid;

  @include mobile {
    gap: 14px;
    margin-bottom: 24px;
  }

  @include tablet {
    gap: 18px;
    margin-bottom: 72px;
    padding-right: 38px;
  }

  @include desktop {
    margin: 0;
    padding: 0;
  }
}

.form__group--program {
  @include mobile {
    margin-bottom: 26px;
    padding-top: 26px;
    padding-bottom: 24px;

    &::before,
    &::after {
      content: "";
      width: 100vw;
      height: 1px;
      position: absolute;
      left: -20px;
      background-color: $border-color-secondary;
    }

    &::before {
      top: 0;
    }

    &::after {
      content: "";
      bottom: 0;
    }
  }

  @include tablet {
    margin-bottom: 64px;
    padding-right: 38px;
  }

  @include desktop {
    margin: 0;
    padding: 0;
    align-self: center;
  }
}

.form__group--contacts {
  display: grid;

  @include mobile {
    gap: 14px;
    margin-bottom: 24px;
  }

  @include tablet {
    gap: 19px;
    margin-bottom: 64px;
    padding-right: 38px;
  }

  @include desktop {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
  }
}

.form__group--comments {
  @include mobile {
    margin-bottom: 24px;
  }

  @include tablet {
    margin-bottom: 66px;
    padding-right: 39px;
  }

  @include desktop {
    grid-column: 1/-1;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
  }
}

.form__group--additional {
  margin-bottom: 38px;

  @include tablet {
    margin-bottom: 51px;
  }

  @include desktop {
    grid-column: 1/-1;
    margin: 0;
    padding: 0;
    padding-top: 5px;
  }
}

.form__group--buttons {
  display: grid;

  @include mobile {
    gap: 21px;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 59px;
    row-gap: 32px;
  }

  @include desktop {
    grid-column: 1/-1;
    column-gap: 80px;
    padding: 0;
    margin-top: -6px;
  }
}

.form__group-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 14px;
}

.form__radio {
  position: relative;
  cursor: pointer;
  display: block;
  padding-left: 45px;

  @include mobile {
    padding: 1px 0 0 45px;
  }

  @include tablet {
    padding: 5px 0 5px 60px;
  }
}

.form__radio:focus-within {
  outline: $font-color-accent auto 2px;
}

.form__group-list {
  @include list-base;
  display: flex;
  flex-direction: column;

  @include mobile {
    gap: 25px;
  }

  @include tablet {
    display: grid;
  }
}

.form__group-list--additional {
  @include mobile {
    padding-top: 6px;
  }

  @include tablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 61px;
    row-gap: 29px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.form__group-list--program {
  @include tablet {
    row-gap: 13px;
    padding: 21px 27px;
    padding-bottom: 27px;
    border: 1px solid $border-color-secondary;
  }

  @include desktop {
    padding-top: 25px;
  }
}

.form__group-item {
  display: block;
  line-height: 100%;
}

.form__title {
  @include font-info($font-header, 24px, 26px);
  display: block;
  margin: 0;
  background-color: $background-color-primary;
  padding: 0 24px 0 0;
  width: fit-content;
  grid-column: 1/-1;

  @include mobile {
    max-width: 75%;
  }

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-bottom: 86px;
    margin-left: -40px;
  }
}

.form__title::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: $button-color-primary;
  z-index: -1;
  top: 16px;

  @include tablet {
    width: 100vw;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.form__title--contacts {
  @include mobile {
    margin-bottom: 20px;
    padding-right: 10px;
  }

  @include tablet {
    margin-bottom: 55px;
    margin-left: -40px;
    padding: 0 40px;
  }

  @include desktop {
    padding: 3px 40px;
  }
}

.form__title--comments {
  @include mobile {
    margin-bottom: 38px;
  }

  @include desktop {
    margin-bottom: 76px;
  }
}

.form__title--additional {
  @include mobile {
    margin-bottom: 34px;
  }

  @include tablet {
    margin-bottom: 57px;
  }

  @include desktop {
    margin-top: -6px;
    margin-bottom: 56px;
  }
}

.form__label {
  @include font-info($font-header, 16px, 18px);
  text-transform: uppercase;
  color: $font-color-accent;
  max-width: 200px;

  @include tablet {
    font-size: 20px;
    line-height: normal;
  }
}

.form__control-textarea {
  @include font-info($font-header, 16px, 18px);
  resize: none;

  @include mobile {
    min-height: 150px;
    padding: 14px;
  }

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    min-height: 175px;
  }
}

.form__requirements {
  @include font-info($font-primary, 14px, 16px);
  margin: 0;

  @include mobile {
    text-align: center;
  }

  @include tablet {
    font-size: 16px;
    line-height: 16px;
    align-self: center;
    margin-top: -4px;
    margin-left: -2px;
  }
}

.form__input-with-icon {
  position: relative;
}

.form__input-icon {
  position: absolute;
  background-color: $font-color-primary;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;

  @include mobile {
    right: 12px;
  }

  @include tablet {
    right: 15px;
  }

  @include desktop {
    right: 16px;
  }
}

.form__input-icon--tel {
  mask-image: url("../../images/icons/stack.svg#phone-icon");
  mask-repeat: no-repeat;

  &:invalid {
    background-color: $input-color-invalid;
  }
}

.form__input-icon--email {
  mask-image: url("../../images/icons/stack.svg#email-icon");
  mask-repeat: no-repeat;
}

.form__control-input:focus ~ .form__input-icon {
  background-color: $button-color-primary;
}

.form__control-input:invalid:not(:focus) ~ .form__input-icon {
  background-color: $input-color-invalid;
}

.form__checkbox {
  position: relative;
  cursor: pointer;
  display: block;

  @include mobile {
    padding: 0 0 0 46px;
  }

  @include tablet {
    padding: 6px 0 6px 60px;
  }
}

.form__checkbox:focus-within {
  outline: $font-color-accent auto 5px;
}

.form__button {
  min-height: 40px;

  @include tablet {
    min-height: 54px;
  }
}
