@use "../global/variables.scss";
@use "../global/mixins.scss";

.gift {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $background-color-accent;
  background-position: center;
  position: relative;
  color: $background-color-primary;
  display: flex;
  padding: 60px 30px 40px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($background-color-accent, 0.85);
  }

  @include mobile {
    min-height: 290px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:
      image-set(
        "../images/gift-decoration@1x.webp" type("image/webp"),
        "../images/gift-decoration@1x.jpg" type("image/jpeg")
      );

    @media (min-resolution: 2dppx) {
      background-image:
        image-set(
          "../images/gift-decoration@2x.webp" type("image/webp"),
          "../images/gift-decoration@2x.jpg" type("image/jpeg")
        );
    }
  }

  @include tablet {
    min-height: 200px;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    padding: 71px 125px 49px 80px;
    background-image:
      image-set(
        "../images/gift-decoration-tablet@1x.webp" type("image/webp"),
        "../images/gift-decoration-tablet@1x.jpg" type("image/jpeg")
      );

    @media (min-resolution: 2dppx) {
      background-image:
        image-set(
          "../images/gift-decoration-tablet@2x.webp" type("image/webp"),
          "../images/gift-decoration-tablet@2x.jpg" type("image/jpeg")
        );
    }
  }

  @include desktop {
    min-height: 288px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 56px 20px 42px;
    margin: 0;
    background-image:
      image-set(
        "../images/gift-decoration@1x.webp" type("image/webp"),
        "../images/gift-decoration@1x.jpg" type("image/jpeg")
      );

    @media (min-resolution: 2dppx) {
      background-image:
        image-set(
          "../images/gift-decoration@2x.webp" type("image/webp"),
          "../images/gift-decoration@2x.jpg" type("image/jpeg")
        );
    }
  }
}

.gift__icon {
  height: 80px;
  width: 78px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../../images/icons/stack.svg#gift-icon");
  z-index: 1;

  @include mobile {
    margin-top: -5px;
    margin-bottom: 47px;
  }

  @include tablet {
    margin-top: -13px;
  }

  @include desktop {
    margin-top: 0;
  }
}

.gift__description {
  @include font-info($font-primary, 16px, 20px);
  margin: 0;
  max-width: 162px;
  z-index: 1;

  @include mobile {
    text-align: center;
  }

  @include desktop {
    text-align: center;
  }
}
