@use "../global/variables.scss";
@use "../global/mixins.scss";

.how-it-work {
  position: relative;
  padding-bottom: 49px;

  @include mixins.tablet {
    padding-top: 45px;
  }

  @include mixins.desktop {
    padding-top: 71px;
  }
}

.how-it-work::after {
  @include mixins.tablet {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: variables.$border-color-alternate;
  }

  @include mixins.desktop {
    display: none;
  }
}

.how-it-work__list {
  @include mixins.list-base;
  display: grid;
  gap: 20px;
  counter-reset: how-it-work-counter;

  @include mixins.tablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
    margin-top: 32px;
  }

  @include mixins.desktop {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.how-it-work__item {
  @include mixins.text-description;
  display: grid;
  position: relative;

  @include mixins.mobile {
    grid-template-columns: 60px auto;
    gap: 20px;
  }

  @include mixins.tablet {
    display: block;
    padding: 40px 0;
    min-height: 280px;
  }
}

.how-it-work__description {
  margin: 0;
  align-self: center;

  @include mixins.tablet {
    max-width: 243px;
  }
}

.how-it-work__item::before {
  content: "";
  display: block;
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center;
  background-color: variables.$background-color-accent;
  aspect-ratio: 1;

  @include mixins.mobile {
    width: 60px;
  }

  @include mixins.tablet {
    width: 80px;
    margin-bottom: 31px;
  }
}

.how-it-work__item::after {
  @include mixins.tablet {
    @include mixins.font-info(variables.$font-header, 280px, 280px);
    counter-increment: how-it-work-counter;
    content: counter(how-it-work-counter);
    color: variables.$background-color-alternate;
    position: absolute;
    min-width: 134px;
    right: 75px;
    top: 0;
    z-index: -1;
  }

  @include mixins.desktop {
    right: -5px;
  }
}

.how-it-work__item--leaf::before {
  background-image: url("../../images/icons/stack.svg#leaf-icon");
  background-size: 30px 32px;
}

.how-it-work__item--powder::before {
  background-image: url("../../images/icons/stack.svg#powder-icon");
  background-size: 27px 29px;
}

.how-it-work__item--tableware::before {
  background-image: url("../../images/icons/stack.svg#tableware-icon");
  background-size: 26px 30px;
}

.how-it-work__item--time::before {
  background-image: url("../../images/icons/stack.svg#time-icon");
  background-size: 27px 31px;
}

.how-it-work__title {
  @include mixins.mobile {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
