@use "../global/variables.scss";
@use "../global/mixins.scss";

.how-it-work__list {
  @include list-base;
}

.how-it-work__item {
  @include text-description;
}

.how-it-work__item::before {
  content: "";
  display: block;
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background-color-accent;

  @include mobile {
    width: 60px;
    height: 60px;
  }

  @include tablet {
    width: 80px;
    height: 80px;
  }
}

.how-it-work__item--leaf::before {
  background-image: url("../../images/icons/stack.svg#leaf-icon");
  background-size: 30px 32px;
}

.how-it-work__item--powder::before {
  background-image: url("../../images/icons/stack.svg#powder-icon");
  background-size: 27px 29px;
}

.how-it-work__item--tableware::before {
  background-image: url("../../images/icons/stack.svg#tableware-icon");
  background-size: 26px 30px;
}

.how-it-work__item--time::before {
  background-image: url("../../images/icons/stack.svg#time-icon");
  background-size: 27px 31px;
}
