@use "../global/variables.scss";
@use "../global/mixins.scss";

.program {
  overflow-x: hidden;
}

.program__container {
  @include mobile {
    padding-top: 28px;
    padding-bottom: 32px;
  }

  @include tablet {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.program__title {
  @include font-info($font-header, 36px, 36px);
  margin: 0;

  @include mobile {
    margin-bottom: 38px;
  }

  @include tablet {
    font-size: 60px;
    line-height: 60px;
    margin-top: 34px;
    margin-bottom: 54px;
    margin-left: 40px;
  }

  @include desktop {
    margin-bottom: 54px;
    margin-left: 0;
  }
}

.program__description {
  @include font-info($font-header, 14px, 18px);
  text-transform: uppercase;

  @include mobile {
    margin-bottom: 38px;
    max-width: 226px;
  }

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
    max-width: 324px;
    margin-left: 41px;
  }

  @include desktop {
    margin-left: 0;
  }
}
