@use "../global/variables.scss";
@use "../global/mixins.scss";

.section-title {
  font-family: $font-header;
  font-size: 60px;
  line-height: 60px;

  @include mobile {
    font-size: 36px;
    line-height: 40px;
  }
}
