@use "../global/variables.scss";
@use "../global/mixins.scss";

.section-title {
  @include mixins.font-info(variables.$font-header, 36px, 40px);
  margin: 0;

  @include mixins.tablet {
    font-size: 60px;
    line-height: 60px;
  }
}
