@use "../global/variables.scss";
@use "../global/mixins.scss";

.site-list {
  @include mixins.font-info(variables.$font-header, 20px, 20px);
  @include mixins.list-base;
  font-family: inherit;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;

  @include mixins.tablet {
    font-size: 18px;
    line-height: 24px;
  }

  @include mixins.desktop {
    font-size: 20px;
    line-height: normal;
  }
}

.site-list__item {
  @include mixins.mobile {
    &:first-child .site-list__link {
      border-top: 1px solid variables.$border-color-alternate;
    }
  }
}

.site-list__item--active .site-list__link::before {
  @include mixins.tablet {
    content: "";
    position: absolute;
    background-color: variables.$background-color-accent;
    height: 2px;
    bottom: 5px;
    left: 0;
    right: 0;
  }
}

.site-list__item--active-alternate .site-list__link::before {
  @include mixins.desktop {
    background-color: variables.$background-color-primary;
  }
}

.site-list__link {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: variables.$font-color-primary;
  position: relative;

  &:hover {
    color: rgba(variables.$font-color-primary, 0.6);
  }

  &:active {
    color: rgba(variables.$font-color-primary, 0.3);
  }

  @include mixins.mobile {
    display: block;
    background-color: variables.$background-color-primary;
    color: variables.$font-color-primary;
    padding: 22px 20px 23px;
    border-bottom: 1px solid variables.$border-color-alternate;
  }

  @include mixins.tablet {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 17px;
    margin-right: 17px;
  }

  @include mixins.desktop {
    margin-left: 16px;
  }
}

.site-list__link--alternate {
  @include mixins.desktop {
    color: variables.$font-color-alternate;

    &:hover {
      color: rgba(variables.$font-color-alternate, 0.6);
    }

    &:active {
      color: rgba(variables.$font-color-alternate, 0.3);
    }
  }
}
