@use "../global/variables.scss";
@use "../global/mixins.scss";

.social__list {
  @include list-base;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.social__link {
  display: block;
  min-width: 28px;
  min-height: 22px;
  color: $icons-color-primary;

  &:hover {
    color: $button-color-primary;
  }

  &:active {
    color: rgba($button-color-primary, 0.3);
  }
}
